.sidebar{
    width: var(--barside-width);
    min-width: var(--barside-width);
    max-width: var(--barside-width);
    height: auto;
    min-height: auto;
    max-height: auto;
    background-color: rgb(17, 22, 44);
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding: 20px 10px;
}

h3 {
    font-size: 18px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

.user-input {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.user-input-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-input > .editor-container {
    flex-grow: 1;
}

.partial-prog-title {
    margin: 10px 0 20px 0;
}

.solve-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.partial-prog-output {
    width: calc(100% - 32px);
    height: calc(100% - 64px);
    color:rgb(54, 54, 54);
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.partial-prog {
    flex-basis: 0;
    flex-grow: 1;
}