.drawingArea {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.drawingArea svg {
    width: 2000px;
    min-width: 100%;
}

g.grid path.axis {
    stroke: #999;
}

g.grid path.tick {
    stroke: #ddf;
}

g.diagram g.labeledPoint circle {
    r: 4px;
    fill: rgb(255, 0, 140);
    stroke: rgb(168 47 176);
}

g.diagram g.labeledPoint.mobile circle:hover {
    stroke-width: 3px;
}

g.diagram g.labeledPoint text {
    text-anchor: end;
    dominant-baseline: middle;
}

g.diagram g.labeledPoint text.fore {
    fill: #7c5d7c;
}

g.diagram g.labeledPoint text.stroked {
    stroke: white;
    stroke-width: 2px;
}